.gar-flex {
	display: flex;
	flex-wrap: wrap;
	/*主轴上的对齐方式*/
	justify-content: space-between;
	/*交叉轴上的对齐方式*/
	align-items: center;
}

.gar-flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.gar-flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}